.carousel {
    margin: 140px 70px 0 70px;
    padding-bottom: 60px;
    position: relative;
}

.carousel .title {
    font-size: 4rem;
    letter-spacing: 7px;
    margin-bottom: 70px;
    text-align: center;
}

.carousel .card {
    max-width: 420px;
    margin-right: 20px;
    height: 650px;
    border: 3px solid black;
    text-align: center;
}

.carousel .card .card-title {
    line-height: 36px;
    font-size: 1.5rem;
    padding: 0 25px;
}

.carousel .card img {
    width: 100%;
    height: 301px;
    object-fit: contain;
    object-position: center;
    margin: 25px 0 29px 0;
}

.carousel .card .card-category {
    padding: 35px 0;
    font-size: 1.125rem;
}

.carousel .card .price {
    font-size: 1.875rem;
    margin-right: 18px;
    padding: 25px 25px;
}

.carousel .card .card-btn {
    border: 3px solid black;
    background-color: white;
    font-size: 1.875rem;
    line-height: 45px;
    padding: 0 25px;
}

.carousel .card .card-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px black;
}

.carousel .card .card-btn:active {
    border-color: black;
    transform: translateY(0);
    box-shadow: 0 2px 5px black;
}

.carousel-controls {
    position: relative;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
    max-width: 430px;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    cursor: pointer;
    opacity: 1;
}

.swiper-pagination-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    gap: 55px;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    transition: all 0.2s;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: black;
}

.about {
    margin: 140px 70px;
}

.about .text {
    background-color: #1596C1;
    color: white;
    width: 650px;
    height: 590px;
}

.about h3 {
    font-size: 4rem;
}

.about p {
    font-size: 1.5rem;
    line-height: 36px;
    padding: 50px 120px;
}

.mailing .title {
    font-size: 2.625rem;
}

.mailing .text {
    font-size: 1.5rem;
}

.mailing .form-inline {
    margin: 60px 70px 149px 70px;
}

.form-inline .form-inline__input {
    width: 750px;
    padding: 15px;
    border: 3px solid black;
    margin-right: 1rem;
}

.form-inline .form-inline__btn {
    padding: 4.5px 62px;
    border: 3px solid black;
    background-color: white;
    font-size: 1.875rem;
}

.mySwiper.mobile-swiper {
    display: none;
}

.error-message {
    position: absolute;
    bottom: -25px;
    left: 0;
    color: #dc3545;
    font-size: 0.875rem;
    font-weight: 500;
    white-space: nowrap;
}

.success-message {
    color: #28a745;
    position: absolute;
    bottom: -25px;
    left: 0;
    font-size: 0.875rem;
    font-weight: 500;
    white-space: nowrap;
}

@media (max-width: 1240px) {
    .mySwiper {
        display: none;
    }

    .mySwiper.mobile-swiper {
        display: flex;
    }

    .carousel {
        margin: 90px 34px 0 34px;
    }

    .carousel .card {
        width: 340px;
        margin-right: 0;
        height: 585px;
    }

    .carousel .title {
        font-size: 3rem;
        margin-bottom: 45px;
    }

    .carousel .card .card-title {
        line-height: 27px;
        font-size: 1.125rem;
    }

    .carousel .card .card-category {
        line-height: 21px;
        font-size: 0.875rem;
        padding: 0 25px;
        margin-top: 10px;
    }

    .carousel .card .card-btn,
    .carousel .card .price {
        font-size: 1.5rem;
    }

    .swiper-pagination-custom {
        display: none;
    }

    .carousel-controls {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 90%;
        min-width: 600px;
        gap: 35%;
    }

    .mySwiper .swiper-slide {
        display: flex;
        justify-content: center;
    }

    .about {
        max-width: 700px;
        margin: 90px 30px;
    }

    .about h3 {
        font-size: 3rem;
    }

    .about .text {
        width: 350px;
        max-height: 550px;
    }

    .about p {
        font-size: 1.125rem;
        line-height: 27px;
        padding: 50px 50px;
    }

    .mailing .title {
        font-size: 1.875rem;
    }

    .mailing .text {
        font-size: 1.125rem;
    }

    .form-inline .form-inline__input {
        padding: 10px;
        width: 400px;
    }

    .form-inline .form-inline__btn {
        padding: 4px 10px;
        font-size: 1.5rem;
    }

    .mailing .form-inline {
        margin: 40px 70px 90px 60px;
    }
}
